{
    "parser": "babel-eslint",
    "parserOptions":{
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "globalReturn": true,
            "impliedStrict": false,
            "jsx": false,
            "experimentalObjectRestSpread": true
        },
        "allowImportExportEverywhere": true
    },
    "env": {
        "shared-node-browser": true,
        "browser": true,
        "commonjs": true,
        "node": true,
        "es6": true,
        "jquery": true
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "no-cond-assign": ["error", "except-parens"],
        "no-console": "off",
        "no-constant-condition": "off",
        "no-control-regex": "error",
        "no-debugger": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty-character-class": "warn",
        "no-empty": "warn",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "warn",
        "no-extra-parens": ["warn", "functions"],
        "no-extra-semi": "error",
        "no-func-assign": "error",
        "no-inner-declarations": ["warn", "functions"],
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "warn",
        "no-negated-in-lhs": "error",
        "no-obj-calls": "error",
        "no-regex-spaces": "warn",
        "no-sparse-arrays": "error",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error",
        "use-isnan": "error",
        "valid-jsdoc": "off",
        "valid-typeof": "error",
        "accessor-pairs": ["warn", { "getWithoutSet": true, "setWithoutGet": true }],
        "array-callback-return": "warn",
        "block-scoped-var": "off",
        "complexity": ["warn", 20],
        "consistent-return": "off",
        "curly": "warn",
        "default-case": "error",
        "dot-location": ["warn", "property"],
        "dot-notation": ["warn", { "allowKeywords": true}],
        "eqeqeq": "error",
        "guard-for-in": "off",
        "no-alert": "error",
        "no-caller": "error",
        "no-case-declarations": "error",
        "no-div-regex": "warn",
        "no-else-return": "warn",
        "no-empty-function": "off",
        "no-empty-pattern": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "warn",
        "no-extra-bind": "warn",
        "no-extra-label": "warn",
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-implicit-coercion": "off",
        "no-implicit-globals": "off",
        "no-implied-eval": "error",
        "no-invalid-this": "off",
        "no-iterator": "warn",
        "no-labels": ["error", {"allowLoop": false, "allowSwitch": false}],
        "no-lone-blocks": "error",
        "no-loop-func": "error",
        "no-magic-numbers": "off",
        "no-multi-spaces": "warn",
        "no-multi-str": "error",
        "no-native-reassign": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-new": "warn",
        "no-octal-escape": "warn",
        "no-octal": "warn",
        "no-param-reassign": ["error", {"props": false}],
        "no-process-env": "off",
        "no-proto": "error",
        "no-redeclare": ["error", { "builtinGlobals": true }],
        "no-return-assign": ["error", "except-parens"],
        "no-script-url": "error",
        "no-self-assign": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "warn",
        "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": false }],
        "no-unused-labels": "warn",
        "no-useless-call": "warn",
        "no-useless-concat": "warn",
        "no-void": "error",
        "no-warning-comments": ["off", { "terms": ["todo", "fix"], "location": "anywhere" }],
        "no-with": "error",
        "radix": ["error", "as-needed"],
        "vars-on-top": "off",
        "wrap-iife": ["error", "outside"],
        "yoda": ["warn", "never", { "onlyEquality": true }],
        "strict": ["warn", "safe"],
        "init-declarations": "off",
        "no-catch-shadow": "error",
        "no-delete-var": "error",
        "no-label-var": "error",
        "no-shadow-restricted-names": "error",
        "no-shadow": ["error", {"builtinGlobals": false, "hoist": "functions"}],
        "no-undef-init": "warn",
        "no-undef": ["error", { "typeof": false }],
        "no-undefined": "off",
        "no-unused-vars": ["warn", { "vars": "all", "args": "none" }],
        "no-use-before-define": ["warn", {"functions": false, "classes": true}],
        "array-bracket-spacing": ["warn", "never"],
        "block-spacing": ["warn", "always"],
        "brace-style": ["warn", "1tbs", { "allowSingleLine": true }],
        "camelcase": ["off", {"properties": "never"}],
        "comma-spacing": ["error", {"before": false, "after": true}],
        "comma-style": ["warn", "last"],
        "computed-property-spacing": ["warn", "never"],
        "consistent-this": ["warn", "_this", "self"],
        "eol-last": ["warn", "unix"],
        "func-names": "off",
        "func-style": ["off", "expression", { "allowArrowFunctions": true }],
        "id-length": ["error", {"min": 1, "max": 45, "properties": "never"}],
        "id-match": "off",
        "id-blacklist": "off",
        "indent": ["warn", 2, {"VariableDeclarator": 1, "SwitchCase": 1}],
        "jsx-quotes": "off",
        "key-spacing": ["warn", {"beforeColon": false, "afterColon": true}],
        "keyword-spacing": ["warn", {"before": true, "after": true}],
        "linebreak-style": ["warn", "unix"],
        "lines-around-comment": ["warn", { "beforeBlockComment": true, "afterBlockComment": false, "beforeLineComment": true, "afterLineComment": false, "allowBlockStart": true, "allowBlockEnd": true, "allowObjectStart": true, "allowArrayStart": false, "allowArrayEnd": false }],
        "max-depth": ["warn", 5],
        "max-len": ["warn", {"code": 500, "comments": 500, "tabWidth": 2, "ignoreUrls": true}],
        "max-nested-callbacks": ["warn", 5],
        "max-params": ["warn", 10],
        "max-statements": ["warn", 45, {"ignoreTopLevelFunctions": true}],
        "new-cap": ["warn", {"newIsCap": true, "capIsNew": true, "properties": false}],
        "new-parens": "warn",
        "newline-after-var": "off",
        "newline-per-chained-call": "off",
        "no-array-constructor": "warn",
        "no-bitwise": "off",
        "no-continue": "off",
        "no-const-assign": "error",
        "no-inline-comments": "off",
        "no-lonely-if": "warn",
        "no-mixed-spaces-and-tabs": "warn",
        "no-multiple-empty-lines": ["warn", {"max": 2}],
        "no-negated-condition": "off",
        "no-nested-ternary": "warn",
        "no-new-object": "warn",
        "no-plusplus": "off",
        "no-restricted-syntax": ["warn",  "WithStatement"],
        "no-whitespace-before-property": "warn",
        "no-spaced-func": "warn",
        "no-ternary": "off",
        "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
        "no-underscore-dangle": "off",
        "no-unneeded-ternary": "warn",
        "object-curly-spacing": ["warn", "never"],
        "one-var": "off",
        "one-var-declaration-per-line": "off",
        "operator-assignment": "off",
        "operator-linebreak": "off",
        "padded-blocks": "off",
        "quote-props": ["warn", "as-needed"],
        "quotes": ["warn", "single", { "avoidEscape": true }],
        "require-jsdoc": "off",
        "semi-spacing": ["error", { "before": false, "after": true }],
        "semi": ["warn", "never"],
        "sort-vars": "off",
        "sort-imports": "off",
        "space-before-blocks": ["warn", { "functions": "always", "keywords": "always", "classes": "always" }],
        "space-before-function-paren": ["warn", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
        "space-in-parens": ["warn", "never"],
        "space-infix-ops": "warn",
        "space-unary-ops": ["warn", { "words": true, "nonwords": false }],
        "spaced-comment": "off",
        "wrap-regex": "off",
        "require-await": "warn"
    }
}
